<h1 class="cntr-txt">Create New Questionnaire</h1>

<div class="six-wide shift-three" id="form-container" data-questions="0">
  <% if @questionnaire.errors.any? %>
    <%@questionnaire.errors.full_messages.each do |msg| %>
      <p class="error-msg"><%= msg %></p>
    <% end %>
  <% end %>

  <%= form_for @questionnaire do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <div class="questions">
      <%= f.fields_for :questions do |question_fields| %>
        <p>Question</p>
        <%= question_fields.text_field :name %>
      <% end %>
    </div>

    <div class="add-question">
      <%= link_to "Add Question", class: "add-question" %>
    </div>
    <br>
    <%= f.submit %>
  <% end %>
</div>